@media (min-width: 1024px) {
  .swiper-button-next {
    right: 25vw !important;
    background-color: white;
    height: 50px !important;
    width: 50px !important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev {
    left: 10vw !important;
  }
}
