.slick-slide div {
  height: 200px;
  opacity: 0;
}

.slick-slide.slick-active div {
  opacity: 1;
}

.slick-current div {
  height: 300px;
}

.slick-track {
  display: flex;
  align-items: center;
}
