@import "tailwindcss";

@theme {
  --color-primary: #6644b1;
  --color-secondary: #351e66;
  --color-icon-background: #351e66;
  --color-icon-foreground: #6644af;
}

:root,
body {
  background-color: white !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}
